*{
	padding:0px;
	margin:0px;
}

ul{
	list-style: none;

}

ul li {

	height: 60px;
	width: 100px;
	background: tomato;
	float: left;
	margin-right: 2px;
	
}

ul li a{
	color: yellow!important;
	display: block;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
}
ul li a:hover{

	text-decoration: none;

}
ul li:hover{
	color: $fff;
	
	background: green;
}